@model WebT.Models.Order

<h3>Вы действительно хотите удалить данный заказ?</h3>
<div>
    <p>Ид.: @Html.DisplayFor(m => m.Id)</p>
    <p>Модель: @Html.DisplayFor(m => m.Name)</p>
    <p>Год выпуска: @Html.DisplayFor(m => m.Sum)</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="Удалить" />
    }
</div>